# Copy this file to .env and update your MySQL password

DB_HOST=localhost
DB_PORT=5432
DB_USER=gids_user
DB_PASSWORD="GOBIRAJ@#123"
DB_NAME=gids_database

PORT=3000

# Email Configuration (Gmail)
RESEND_API_KEY=re_W3dUcMar_PE4iWaPSZUk5hvqQ5jixb5GV
EMAIL_FROM=onboarding@resend.dev
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
VERIFY_LINK_EXPIRES_MINUTES=15
